div{
  border: 1px solid brown ;
}
.wrap {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: 1.5fr 1fr 1fr 1fr;
    grid-gap: 10px 10px 10px 10px;
  }

  .menu, .search, .usericon {
    font-size : 3em;
    text-align: center;
    height: 100px;

  }

  .menu {
    grid-column: 1;
    grid-row: 1;
  }

  .search {
    grid-column: 2 ;
    grid-row: 1;
  }

  .usericon {
    grid-column: 3 ;
    grid-row: 1;
  }
  

  .tag {
    grid-column:2;
    height: 100px;
 }

  .tag ul {
    display : flex;
    list-style: none;
    justify-content: space-between;
    padding-inline-start: 0px;
    
  }

  .tag > ul > li {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 8px;
    padding: 2px 5px;
    margin: 2px ;
    font-size: 12px;
    text-align: center;

}

  .main-gird {
    grid-column:2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5px;
    text-align: center;
  }


.section1 {
    grid-column: 1/3;
}


.sidemenu {
position: fixed;

  top: 100px;
  left: 0;
  right: 0;
  grid-column:1 ;
  grid-row: 2;

  border: 1px solid none;
}

.sidemenu ul {

    list-style: none;
    justify-content: space-between;
    padding-inline-start: 0px;
   padding: 10px;
  }

  .sidemenu>ul>li {
padding: 20px;
  }


  .warp1 
  {
    grid-column:2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px auto);
    grid-gap:10px;
    margin:10px;
    padding:10px;

  }

  .sc1 {
    grid-column:1;
  }
  .sc2 {
    grid-column:2/4;
  }
  .sc3 {
    grid-column:1/4;
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  .sc3 img {
    position: absolute;

  }



  /*그리드레이아웃정렬*/

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3,1.5fr);
    height: 300px;
    /*아이템의 크기가 도정되어 아이템이 나가지 않게 하기 위함 */
    min-width: 500px;
    /*기본설정 stretch */
    /*가로정렬*/
    justify-items: end;
    /*세로정렬*/
   align-content: space-between;
  }

  .grid-item {
    height: 500px;
    /*기본설정 : stretch*/
  }

.add-align {
    background-color: aqua;
    align-self : baseline
}



  /*
  정렬을 사용할 때 높이를 지정해야
  아이템의 위치를 정렬 해줄수가 있다. 
  높이를 지정하지 않으면 아이템의 크기에 자동으로 맞춤 */