.m-box {
    width: 200px;
    height: 200px;
    background-color: coral;
}
.translate { translate: 50px 100px; }
.rotate { rotate: 30deg;}
.scale { scale: 1.5; translate: 50px 0 }
.skew { transform: skewX(-20deg);}
.matrix { transform: matrix(1,2,3,4,5,6); visibility: hidden;}
.t-box {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}
.transition-width { transition: width 1s; }
.transition-width:hover { width: 200px;  transition-duration: 0.5s;}
.transition-width:hover { width: 200px;  transition-duration: 0.5s;}

.transition-height { transition: height 1s;}
.transition-height:hover { height: 200px;}

.transition-color {
    transition: 
    background-color 1s, border-radius 1s; }
.transition-color:hover {
    background-color:coral; 
    border-radius: 50%;
}
.transition-transform { transition: transform 1s;}
.transition-transform:hover {transform: scale(1.5) rotate(90deg) }

.transition-delay {
     transition: opacity 1s;
     transition-delay: 0.3s;

}

.transition-delay:hover { opacity: 0.1;}

.transition-delay-input {
    transition: background-color 0.1ms;
    transition-delay : 1s;
}

.transition-delay-input:focus {
    background-color: darkorange;
    transition-duration:1s;
    transition-delay:1s;
}

.transition-timing-linear {
    transition: transform 1s;
    transition-timing-function: linear;
}

.transition-timing-linear:hover {
    transform: translateX(100px)
}

.transition-timing-ease {
    transition: transform 1s;
    transition-timing-function: ease;
}

.transition-timing-ease:hover {
    transform: translateX(100px)
}


.transition-border {
transition: outline 0.5s;
}

.transition-border:hover {
   outline: 4px solid yellow;
}

.transition-check +span {
    transition : color 0.3s;
}

.transition-check :checked + span {
    color: red;
}


.line1, .line2 , .line3 {
    width : 50px;
    height: 15px;
    border-top: 3px solid black;
    transition: border-top 1s;

}


.line1 {

}

.img-box{
    display : inline-block;
    width: 500px;
    height: 200px;
    overflow:hidden;
}

.img-box:hover {
    background-color: gray;
}

.img {
    width : 800px;
    transition: trasform 1s;
  
    
}

.img-box:hover img {
transform:scale(1.2)
}

.img-box:hover img ::after {
    display : inline-block;
    content:"";
    width:200px;
    height: 200px;
    background-color: black;
    position: absolute;
    margin-left: -100px;
}
