.main {
    font-family: 'Nanum Gothic', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:space-between;
    width: 100%;
}

.crh {
    height: 50px;
    width: 50px;
}

#text {
    grid-column: 1fr;
    position: relative;
}

#img2{
    grid-column: 1fr;
    position: relative;
    top:-300px;
    left:150px;
    z-index: -1;
}

#img2 img {
    width: 70%;
    height: 70%;
}


h1 {
    font-size: 50px;
}

#homec01{
    display: flex;
    justify-content : center;
    width: 100%;
}